body {
  background-color: #f3e6d8;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.recipe-card {
  width: 50%;
  height: 100vh;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
}

img {
  height: 250px;
  margin: 25px;
  border-radius: 10px;
}